@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/* Applied to all CSS */

* {
    box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


/* Mixed CSS */

.header-left,
.intro-title{
    color:#F9FAF8;
}


/* Generic CSS */

.dark-blue-background{
    background-color: #1F2937;
}

.secondary-white-text{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


/* Section CSS */

.section{
    display: flex;
    justify-content:center;
    flex: auto;
}

.section.header-wrapper,
.section.footer-wrapper{
    flex: none;
    height: 70px;
}


/* Container CSS*/

.container,
.small-container{
    display: flex;
    width: 925px;
}

.container{
    padding: 100px 0;
}


/* Header CSS */

.header{
    justify-content: space-between;
    align-items: center;
}

.header-left{
    font-size: 24px;
    font-weight: bold;
}

.header-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 36px;
}


/* Intro CSS */

.intro{
    gap: 16px;
    align-items: center;
}

.intro-title{
    font-size: 48px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.intro-text > *{
    margin: 0;
}

.intro-text,
.top-image-placeholder{
    flex: 1;
}

.top-image-placeholder{
    height: 225px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-button{
    background-color: #3883F6;
    border-width: 0;
    padding: 8px 40px;
    border-radius: 8px;
    font-weight: bold;
}


/* Information CSS */

.information{
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.information-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards-container{
    display: flex;
    gap: 48px;
}

.blue-image-placeholder{
    width: 150px;
    height: 150px;
    border: 4px;
    border-radius: 16px;
    border-color: #3883F6;
    border-style: solid;
    margin-bottom: 8px;
}

.card-content{
    text-align: center;
    max-width: 150px;
    color: rgb(99, 99, 99);
}


/* Quote CSS */

.light-gray-background{
    background-color: #E5E7EB;
}

.quote{
    flex-direction: column;
    padding: 100px 70px;
}

.quote-text{
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author{
    margin: 0;
    padding-inline-end: 20px;
    align-self: flex-end;
    font-weight: 700;
    font-size: 24px;
}